@model IEnumerable<LMEntities.Models.League>

@{
    ViewBag.Title = "Index";
}
<div class="col-md-12 col-sm-12 mininumheight">
    <div class="table-responsive">
        <div class="col-md-12 col-sm-12 mininumheight">
            @if (User.IsInRole("Admin"))
            {
                <div class="register">
                    <b> @Html.ActionLink("Add New League", "Create", new { htmlAttributes = new { @class = "col-sm-12 control-label back" } })</b>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-bordred table-striped">
                    <thead class="cf">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OrganizationId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Organization.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td class="numeric">
                                        <a href="@Url.Action("Details", new {id = item.Id})">
                                            <i class="glyphicon glyphicon-eye-open btn btn-primary btn-xs"></i>
                                            <span class="sr-only">Details</span>
                                        </a>
                                        <a href="@Url.Action("Edit", new {id = item.Id})">
                                            <i class="glyphicon glyphicon-edit btn btn-primary btn-xs"></i>
                                            <span class="sr-only">Edit</span>
                                        </a>
                                        <a href="@Url.Action("Delete", new {id = item.Id})">
                                            <i class="glyphicon glyphicon-trash btn btn-danger btn-xs"></i>
                                            <span class="sr-only">Delete</span>
                                        </a>
                                    </td>
                                }

                                else
                                {
                                    <td class="numeric">
                                        <a href="@Url.Action("Details", new {id = item.Id})">
                                            <i class="glyphicon glyphicon-eye-open btn btn-primary btn-xs"></i>
                                            <span class="sr-only">Details</span>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
