@using System.Web.UI.HtmlControls
@model LMEntities.Models.User
@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 col-sm-12 mininumheight">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Umpire)

            @Html.ValidationMessageFor(model => model.Umpire, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="register">
                @Html.ActionLink("Back", "Index", "Umpires")
                <input type="submit" value="Add an Umpire" class="btn btn-default create" />
            </div>
        </div>


        <div class="table-responsive">
            <div class="form-horizontal">
                <table class="col-md-10 table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th class="numeric"></th>

                            <th class="numeric">
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th class="numeric">
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                           
                            <th class="numeric">
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th><th class="numeric">
    @Html.DisplayNameFor(model => model.EmailId)
</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Umpires)
                        {
                            <tr>
                                <td class="numeric">
                                    <input type="checkbox" name="chk-@item.Id" id="@item.EmailId" value="@item.Id" />
                                    @* @Html.CheckBoxFor(model => item.IsSelected)*@
                                </td>

                                <td class="numeric">
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                    <input TYPE="hidden" VALUE="@item.FirstName">
                                </td>
                                <td class="numeric">
                                    @Html.DisplayFor(modelItem => item.LastName)
                                    <input TYPE="hidden" VALUE="@item.LastName">
                                </td>
                               

                                <td class="numeric">
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    <input TYPE="hidden" VALUE="@item.PhoneNumber">
                                </td>
                                <td class="numeric">
                                    @Html.DisplayFor(modelItem => item.EmailId)
                                    <input TYPE="hidden" VALUE="@item.EmailId">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}