@model LMEntities.Models.User

@{
    ViewBag.Title = "Delete";
}

<div class="col-md-8 col-sm-6 mininumheight">
    <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-9 col-md-offset-1 col-sm-9">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <h1>Delete Umpire</h1>
            <h3>Are you sure you want to delete this umpire?</h3>
            <hr />
            <div class="form-horizontal team">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">
                        @Html.DisplayNameFor(model => model.EmailId)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.EmailId)
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">
                        @Html.DisplayNameFor(model => model.LastName)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.LastName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="submit" value="Delete" class="btn btn-default create" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-6 control-label">
                        <b> @Html.ActionLink("Back To List", "Index", new { htmlAttributes = new { @class = "col-md-8 control-label back" } })</b>
                    </label>

                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_PartialStyle")