@model LMEntities.Models.User

@{
    ViewBag.Title = "Details";
}

<div class="col-md-12 col-sm-12 mininumheight">
    <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        

            <div>
                <h4>User</h4>
                <hr />
                <dl class="dl-horizontal">
                    @*<dt>
                            @Html.DisplayNameFor(model => model.Gender.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gender.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Organization.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Organization.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User1.EmailId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User1.EmailId)
                        </dd>*@

                    @*<dt>
                            @Html.DisplayNameFor(model => model.UserType.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserType.Name)
                        </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.EmailId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmailId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    @*<dt>
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Password)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ProfilePhoto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProfilePhoto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedOn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifiedOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifiedOn)
                        </dd>*@

                </dl>
            </div>
            <p>

                @Html.ActionLink("Back to List", "Index")
            </p>
        </div></div>