@model LMEntities.Models.User

@{
    ViewBag.Title = "Edit";
}

    <div class="col-md-8 col-sm-8 mininumheight">
        <div class="col-md-2 col-sm-9">
            @if (Model.ProfilePhoto != null)
            {
                <img src="@Url.Content(Model.ProfilePhoto)" alt="Image" style="height:150px;width:150px;" />
            }
        </div>
        <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-9 col-md-offset-1 col-sm-9">
            @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.AspNetUsersId)
                    @Html.HiddenFor(model => model.OrganizationId)
                    @Html.HiddenFor(model => model.UserTypeId)

                    <div class="col-md-12 col-sm-8">
                        <div class="tab-pane tab-pane1 fade in active" id="Personal Details">
                            <div class="panel-group" id="accordion2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                                Personal Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne2" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.GenderId, "Gender", htmlAttributes: new { @class = "col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("GenderId", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ProfilePhoto, htmlAttributes: new { @class = "col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    <input type="file" name="file" />
                                                    @Html.HiddenFor(model => model.ProfilePhoto, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ProfilePhoto, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PlaceofBirth, htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.PlaceofBirth, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.PlaceofBirth, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-8">
                        <div class="tab-pane tab-pane1 fade in active" id="Skill Details">
                            <div class="panel-group" id="accordion3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne3">
                                                My Skills
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LivedInUSAsince, "Living in USA Since", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class=" col-md-8">
                                                    @Html.EditorFor(model => model.LivedInUSAsince, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LivedInUSAsince, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SchoolName, "School Name", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SkillSpecialityId, "Skill Speciality", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("SkillSpecialityId", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SkillSpecialityId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BattingStyle, "Batting Style", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.BattingStyle, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BattingStyle, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FavouriteShot, "Favourite Shot", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.FavouriteShot, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FavouriteShot, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BowlingStyle, "Bowling Style", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.BowlingStyle, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BowlingStyle, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-8">
                        <div class="tab-pane tab-pane1 fade in active" id="Skill Details">
                            <div class="panel-group" id="accordion4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne4">
                                                Favorites
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FavoriteCricketer, "Favorite Cricketer", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.FavoriteCricketer, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FavoriteCricketer, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Likes, htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Likes, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Likes, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dislikes, htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Dislikes, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Dislikes, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FavouriteFood, "Favourite Food", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.FavouriteFood, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FavouriteFood, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FavouriteMovie, "Favourite Movie", htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.FavouriteMovie, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FavouriteMovie, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Ambition, htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Ambition, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Ambition, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Hobbies, htmlAttributes: new { @class = " col-sm-4 control-label" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Hobbies, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Hobbies, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <div class="register">
                                <input type="submit" value="Save" class="btn btn-default create" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


@Html.Partial("_PartialStyle")