@model LMEntities.Models.Ground

@{
    ViewBag.Title = "Details";
}



<div class="col-md-8 col-sm-6 mininumheight">
    <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-9 col-md-offset-1 col-sm-9">

        <div>
            <h4>Ground</h4>
            <hr />
            <div class="form-horizontal team">

                <div class="form-group">
                    <label class="col-sm-4 control-label">

                        @Html.DisplayNameFor(model => model.Name)

                    </label>
                    <div class="col-sm-8">

                        @Html.DisplayFor(model => model.Name)
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">

                        @Html.DisplayNameFor(model => model.Address)
                    </label>

                    <div class="col-sm-8">

                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">

                        @Html.DisplayNameFor(model => model.Directions)
                    </label>

                    <div class="col-sm-8">

                        @Html.DisplayFor(model => model.Directions)
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <div class="register">
                        @Html.ActionLink("Back", "Index")
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
@Html.Partial("_PartialStyle")
